.navbar{
   display: flex;
   align-items: center;
   justify-content: space-around; 
   background-color: pink;
   height: 70px;
}




.content{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.blogShow h1{
    color: rgb(211, 46, 73);
}

.active{
    color: red;
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid black;
}

a{
    color: black;
    margin-right: 20px;
    text-decoration: none;
}